name: Linux Build C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            ninja-build \
            pkg-config \
            libglib2.0-dev-bin \
            libgtkmm-4.0-dev \
            libepoxy-dev \
            libvorbis-dev \
            libpanel-dev \
            libadwaita-1-dev \
            libsqlite3-dev \
            zlib1g-dev

      - name: Build Regular Package
        run: make package-regular

      - name: Build Creator Package
        run: make package-creator
